@media only screen and (min-width: 1141px) {

/*-----CONTAINER -----*/
#container {
    margin: 2em auto;
    border: 1px solid #333;
    box-shadow:0 0 15px #000;
}



/*-----DECORATIVE BAR -----*/
div.decorativeWrapper{display:none;}



/*-----NAVigation -----*/
div.navWrapper {background-color: #363636;} /* right */
div.navWrapper div.left {width: 91.666%; background-color: #363636;} /* left */
div.navWrapper div.middle {margin-left: 18.1818%; background-color: #333} /* center */


nav {
    float: none;
    width: 100%;
    padding: 0;
    background: #363636;
}

nav ul {
    border:none;
    background-color:transparent;
}
/*main menu items float side by side*/
nav ul li {
    float: left;
    border-right: solid 1px rgba(0,0,0,0.7); 
    border-left: solid 1px rgba(255,255,255,0.1); 
}
nav ul li a {
    background: none;
    border:none;    
}



/*-----CONTENT -----*/
div.contentWrapper {background-color: #717171;} /* right */
div.contentWrapper div.left {width: 91.666%; background-color: #717171;} /* left */
div.contentWrapper div.middle {margin-left: 18.1818%; background-color: #a1a1a1} /* middle */

/*turn off the margin from the tablet*/
#content {margin-left: 0;}



/* COLUMNS */
div.row article.col33 {
width: 33.333%;
float: left;    
}




/*-----IMAGES -----*/
figure.w50 {
    width: 50%;
}




/*----- SIGNUP FORM -----*/
form .bcinput {
    width: 30%;
}





/*----- FOOTER -----*/
div.footerWrapper {background-color: #363636;} /*right*/
div.footerWrapper div.left {width: 91.666%; background-color:#363636;}
div.footerWrapper div.middle {margin-left: 18.1818%;}


}