@charset "utf-8";
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*-----BODY -----*/
body {
  font-size: 16px;
  font-family: 'Signika', sans-serif; 
  font-weight: 300; /*also loaded 600 for bold*/
  background-color:#fff;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cheap_diagonal_fabric.png");
}






/*-----CONTAINER -----*/
#container {
  min-width: 320px;
  max-width: 1140px;
  background-color: #717171;
}




/*-----HEADER -----*/
header {background-color: #969696;
background: #969696;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#242424)); /*Android*/
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#969696 100%); /*Safari, Chrome*/
  background: -o-linear-gradient(top,  #f7f7f7 0%,#969696 100%); /*Opera on Windows*/
  background: linear-gradient(to bottom, #f7f7f7 0%,#969696 100%);
}


/*-----DECORATIVE BAR -----*/
div.decorativeWrapper{display:none;}




/*-----NAVigation -----*/
button#showPhoneNav {
  color: #FFF;
  font-weight:600;
  display: block;
  border: 1px #222 solid;
  margin: 2% 0;
  padding: .75em 0; 
  width: 100%;
  
  background: #363636;
}
ul#myNav {
  display: none;  
}


nav ul { 
  background-color: #363636; 
  box-shadow: 0 0 5px #666;
}

nav ul li a {
  display:block;
  text-align:center;
  padding: .6em;
  border-top: 1px #cccccc solid;
  color:#ccc;
  text-decoration:none;
  font-weight: 600;
  
}
nav ul li:first-child a{
  border-top: none;
}

nav ul li.selected a {
  color: #0046eb; 
}





/*-----CONTENT -----*/
#content {
  min-height: 15em;
  background-color: #e6e6e6;
}
#content article {
  padding: .5em 2%; 
}

#content h1 {
  font-size: 1.5em;
  font-weight:600;
  color: #51a6af;
  padding-top: 1.4em;
  padding-left: .6em;
  border-bottom: 2px solid #a4b9eb;
}

#content h2 { 
  font-size: 1.3em;
  font-weight:600;
  color: #009edf;
  padding-top: 1.1em;
}

#content h3 { 
  font-size: 1.1em;
  color: #009edf;
  padding-top: .8em;
}

#content p {
  color: #333;
  padding-top:.5em;
  line-height:130%; 
}

#content a {
  color: #0046eb; 
}

#content strong {font-weight: 600;}

#content ul li {
  margin-left: 6%;
  padding-bottom: .3em;
  font-size: .9em;
  list-style-type:square;
  color: #444;
  line-height: 120%;
}





/*-----IMAGES -----*/
figure.w50 img {width: 100%;}
figure.w50 {
  background-color: #fff;
  width: 100%;
  border: 1px solid #999; 
  box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.5);
  margin-top:.5em;
}
figcaption {
  text-align:center;
  font-size:.7em;
  padding: .3em;
  }
figure.right {float: right;}

/* Form Styling */
form#conference {
  margin: 1em 3%;
}

fieldset {
    background-color: #bbd5d8;
    margin: 1.5em 0;
    border: #51a6af solid 1px;
  
}

legend {
    margin-left: 2%;
    padding: .5em;
    border: #51a6af solid 1px;
    background-color: #bbd5d8;
}

/*this is the user instructions for each input. name,, address, email etc. */
label {
  display:block; /* forces a hard return and allows margin to be assigned*/
  margin: .5em;
  
}

label span {
    display: block;
    font-size: .8em;
    color: #7b7b7b;
    padding-top: .9em;
    padding-bottom: .5em;
}

/*where the user enters their information*/
label input {
    background-color: #f4f2ef;
    color: #3a3a3a;
    background-image: url(../img/validation_sprites.png);
    background-position: 4px -11px;
    background-repeat: no-repeat;
    padding: .3em .3em .3em 2em;
    border: solid 1px #51a6af;
    font-size: .9em;
    width: 90%;
    max-width: 500px;
}

/*The input that currently has the focus*/
input:focus {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;  
}

/*identifies all required fields*/
input:required {
  background-position:4px -61px; /*shows the red star*/
}

/*Validation*/
input:focus:invalid {
  background-position:4px -111px; /*shows the yellow circle*/
}

/*Valid*/
input:required:valid {
  background-color: #fff;
  background-position: 4px -161px; /*shows the green check*/
}

.submitBtn {
    -webkit-appearance: none;
    color: #fff;
    border: solid 1px #51a6af;
    width: 25%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    background: #65c5d0;
    box-shadow: 4px 4px 5px #3a7177;
}




/*----- FOOTER -----*/
div.footerWrapper {clear: both;}
div.footerWrapper div.left {}
div.footerWrapper div.middle {}
footer {
  background: #363636;
}
footer p {
  padding: 0.8em;
  text-align: center;
  font-size: 0.6em;
  color: #a4b9eb;
}
footer a {
  color: #a4b9eb;
    
}





/*OTHER STUFF*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}