@media only screen and (min-width: 550px) {
/*-----BODY -----*/
body {}





/*-----CONTAINER -----*/
#container {}





/*-----HEADER -----*/




/*-----DECORATIVE BAR -----*/
div.decorativeWrapper{
    display:block;
    background-color: #363636;
}
div.decorativeWrapper div.left {
    width: 25%;
    height: .9em;
    background-color: #363636;
}




/*-----NAVigation -----*/
button#showPhoneNav { display: none;}
nav{ width: 25%; float: left;}

nav ul{
    display: block!important; /*forces the menu to reappear on the tablet*/
    padding: 0; 
    margin: 0; 
    border: none;
    border-radius: 0;
    box-shadow:none;
}

nav ul li a {
    display:block;
    padding:.6em;
    text-decoration: none;
    border-top: 2px dashed  rgba(255,255,255,0.2);
    border-bottom: 2px dashed rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.8);
    
    background: #363636;
}

nav ul li a:hover {background: #272727;}
nav ul li.selected a {color: #bf1e2e;}




/*-----CONTENT -----*/
#content {
    margin-left: 25%;
    min-height: 30em;
}




/*-----IMAGES -----*/
figure.w50 {
    width: 70%;
    margin-left: 2%;
}






/*----- FOOTER -----*/
div.footerWrapper {background-color: #363636;}
div.footerWrapper div.middle {margin-left: 25%;}



}